[submodule "lib/js3-mode"]
	path = lib/js3-mode
	url = https://github.com/thomblake/js3-mode.git
[submodule "lib/flycheck"]
	path = lib/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "lib/exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "lib/js2-mode"]
	path = lib/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "lib/json-mode"]
	path = lib/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "lib/dash-at-point"]
	path = lib/dash-at-point
	url = https://github.com/stanaka/dash-at-point.git
[submodule "lib/helm-projectile"]
	path = lib/helm-projectile
	url = https://github.com/bbatsov/helm-projectile.git
[submodule "lib/projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "lib/async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "lib/helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "lib/helm-ag"]
	path = lib/helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "lib/md"]
	path = lib/md
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "lib/avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy.git
[submodule "lib/highlight-indetation"]
	path = lib/highlight-indetation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "lib/expand-region"]
	path = lib/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "lib/python-mode"]
	path = lib/python-mode
	url = https://github.com/emacsmirror/python-mode.git
        ignore = dirty
[submodule "lib/multiple-cursors"]
	path = lib/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "lib/web-mode"]
	path = lib/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "lib/scss-mode"]
	path = lib/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "lib/clojure-mode"]
	path = lib/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode
